# Archivos de sistema
.DS_Store
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Informes y logs
reports/
comparativas/
*.log
*.csv
*.html
# Entornos virtuales
venv/
.env/
# Otros
*.swp
*.swo
